.nav-buttons {
  display: flex;
}

@media (max-width: 430px) {
  .nav-buttons {
    display: none !important;
  }
}

.align-right {
  margin-left: auto;
}

.navbar-bg {
  background: rgb(3, 1, 64);
  background: linear-gradient(0deg, rgba(3, 1, 64, 1) 0%, rgba(0, 0, 0, 1) 99%);
}
